# Managed by Ansible

global
    chroot      /var/lib/haproxy
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

defaults
    log     global
    mode    tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

frontend main
    bind {{ ha_vip_address }}:{{ ha_vip_api_port }}
    default_backend app

backend app
    balance {{ ha_haproxy_balance_algorithm }}
{% for host in groups['control'] | sort %}
    server {{ host | regex_replace('\\..*$', '') }} {{ hostvars[host]['ansible_host'] | default(host) }}:{{ ha_kube_api_port }} check
{% endfor %}

{% if ha_haproxy_stats_enabled | bool %}
listen stats
    bind *:9000
    mode http
    stats enable
    stats hide-version
    stats realm Haproxy Statistics
    stats uri /haproxy_stats
{% endif %}
